:root {
    --first-color: #bf8f3b;
    --second-color: #f7edb2;
    --third-color: #dec286;
    --third-color-alt: #f7e085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inicia primera seccion de la pagina */
.primera-seccion {
    height: max-content;
    background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url(./portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.primer-contenedor {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    padding-bottom: 0;

}

.contenedor-hijo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.segundo-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.llamar {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 20px;

}

.grueso {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.redes {
    color: white;
    font-size: 30px;
}

.logo {
    width: 100px;

}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    color: white !important;
    font-weight: 500 !important;
}

.nav-link:hover {
    text-shadow: none;
}

.nombre,
.navbar-brand {
    color: white !important;
    display: flex;
    align-items: center;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

.navbar-collapse {
    justify-content: flex-end !important;
    text-align: center;
    align-items: center !important;
}

.titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar-toggler {
    background-color: white !important;

}

.gran-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: white;
    text-align: center;
    height: 80vh;

}

.gran-titulo h1 {
    font-size: 80px;
    padding-bottom: 10px;
    font-weight: bold;
}

.gran-titulo h6,
h5 {
    font-style: italic;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: transparent;
    }
}

#bienvenido-texto {
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    border-right: 0.15em solid transparent;
    animation:
        typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

/*BOTON CON ANIMACION*/
.btnfos {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    margin: 0 auto 2em;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 20px;
}

.btnfos-1 {
    background: white;
    color: black;
    font-weight: 100;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}

.btnfos-1 svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.btnfos-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 422, 0;
    border-radius: 20px;
}

.btnfos-1:hover {
    background: rgba(225, 51, 45, 0);
    letter-spacing: 1px;
    font-weight: 900;
    color: white;
    border-radius: 20px;
}

.btnfos-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 20px;
}
/*fin primera seccion*/

/*Inicio de segunda seccion*/
.segunda-seccion {
    height: max-content;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0; /* Inicialmente oculta */
    transform: translateY(50px); /* Desplazada ligeramente hacia abajo */
    transition: opacity 1s ease, transform 1s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición normal */
}


.segunda-seccion h4{
    letter-spacing: 10px;
    text-align: center;
}

#titulo-segundaSeccion {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.contenido-segundaSeccion {
    display: flex;
    gap: 2vw;
}

.lineaVertical {
    border: 1.7px solid black;
}

.imagenes-contenido--segundaSeccion{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imagenes-contenido--segundaSeccion img { 
    display: flex;
    width: 330px;
    height: 230px;
    padding-bottom: 15px;
    border-radius: 30px;
}

.respuestas-contenido--segundaSeccion {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.respuesta {
    border: solid 2px black;
    width: 35vw;
    padding-top: 5px;
    display: flex;
    align-items: center;
    height: 30%;
}

.respuesta a{
    color: black;
    font-size: 2vw;
    width: 20%;
    text-align: center;
}

.respuesta div{
    width: 80%;
}

/*inicio tercera seccion*/

.tercera-seccion {
    height: max-content;
    padding: 5vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.527)),url(./fondo-servicios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2.5px solid white;
}

.tercera-seccion h4 {
    letter-spacing: 10px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size:xx-large;
}

.ter-carr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding-top: 10vh;
}

.card {
    width: 22vw !important;
    height: max-content !important;
    background: rgb(255, 255, 255) !important;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 20px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 15px;
    margin: 0 15px;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
    text-align: center !important;
}

.card img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #666;
    text-align: center;
}

/* Estilo para las tarjetas cuando no están en foco */
.card:not(.focus) {
    transform: scale(0.8);
    opacity: 0.5;
}

/* Estilo para la tarjeta en foco */
.focus {
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
}

/* Botones de navegación */
.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    outline: none;
}

.prev {
    left: 1vw;
}

.next {
    right: 1vw;
}

/*fin tercera seccion*/

/* Inicio cuarta seccion */
.cuarta-seccion {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    gap: 30px;
    background-color: #f4f4f4;
}

.elementos-superiores--texto {
    height: 30vh;
}

.elementos-superiores--cuartaSeccion {
    width: 80vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.elementos-superiores--texto {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.elementos-superiores--texto h4{
    letter-spacing: 8px;
}

.elementos-superiores--texto img {
    width: 30vw;
    height: 25vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}

.elementos-superiores--cuartaSeccion-video {
    display: flex;
    background-color: black;
    border-radius: 20px;
}

.elementos-superiores--cuartaSeccion .video video  {
    width: 36vw;
    height: 44vh;
}

.elementos-superiores--cuartaSeccion .video{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}

.imagenes-proyectos{
    width: 80vw;
    display: flex;
    height: 30vh;  
    align-items: center;
    justify-content: space-evenly;
}

.imagenes-proyectos img{
    width: 15.5vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px gray;
}

.imagenes-proyectos img:hover{
    transform: scale(1.2); 
}

.vermas{
    border: 1px solid white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.404)),url("./proyecto4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 15.5vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.vermas:hover{
    transform: scale(1.2); 
}


/*inicio quinta seccion*/
.quinta-seccion{
    height: max-content;
    padding: 2vw 0 3vw 0;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-top: 3px solid black;
    opacity: 0; /* Inicialmente oculta */
    transform: translateY(50px); /* Desplazada ligeramente hacia abajo */
    transition: opacity 1s ease, transform 1s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición normal */
}

.quinta-seccion h4{
    letter-spacing: 10px;
    border: 2px solid black;
    padding: 0 40px 0px 40px;
}

.quinta-seccion img{
    border-radius: 100%;
    border: 2px solid black;
    width: 10vw;
    height: 15vh;
}
.content-testi{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.perfil{
    width: 20vw;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(146, 145, 145) ;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px gray;
}

.perfil:hover{
    transform: scale(1.1); 
}

.perfil h6{
    padding-top: 10px;
}

/*fin quinta seccion*/

/*inicio sexta seccion*/
.sexta-seccion{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding:20px;
    gap: 2rem;
} 

.sexta-seccion h4{
    letter-spacing: 10px;
    border-bottom: 2px dotted white;
    padding: 0 0 10px 0;
}
.sext-cont{
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #444444;
}

.faq-answer {
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid black;
    display: none;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
}

.faq-answer p {
    margin: 0;
}
/*fin sexta seccion*/

/*flecha*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: none;
    transition: background-color 0.3s ease;
    border: 1px solid black;
}

.back-to-top:hover {
    background-color: black;
    border: 1px solid white;
}
.back-to-top a:hover {
    color: white;
}

.back-to-top a{
    color: black;
}
@media only screen and (max-width: 375px) {
    .logo {
        display: none;
    }

    .navbar-brand {
        letter-spacing: normal;
        font-weight: 500 !important;
    }

    .segunda-seccion{
        height: max-content;
        padding: 2vw 0 2vw 0;
    }

}

@media only screen and (max-width: 425px) {
    .primer-contenedor {
        display: none;
    }

    .navbar>.container-fluid {
        justify-content: center !important;
    }

    .gran-titulo h1 {
        font-size: 40px;
    }

    .card img{
       display: none;
    }

    .carousel{
        padding-bottom: 7vh !important;
    }

}

@media only screen and (max-width: 439px) {
    .logo {
        width: 75px;
    }

    .imagenes-proyectos{
        display: none;
    }

    .elementos-superiores--cuartaSeccion{
        height: max-content;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    .elementos-superiores--texto img{
        display: none;
    }
    .elementos-superiores--cuartaSeccion-video{
        width: 80vw;
        height: 37vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .elementos-superiores--cuartaSeccion-video .video{
        height: 37vh;
    }

    .elementos-superiores--cuartaSeccion-video .video video{
        width: 80vw;
    }

    .elementos-superiores--texto{
        width: 80vw;
        height: max-content;
    }

    .quinta-seccion{
        padding: 4vw;
    }

    .quinta-seccion h4{
        padding: 0 10vw 0 10vw;
    }

    .content-testi{
        flex-direction: column;
    }

    .perfil{
        width: 80vw !important;
        height: fit-content;
        box-shadow: 2px 2px 2px 2px gray;
    }

    .perfil img{
       display: none;
    }

    .sexta-seccion h4{
        text-align: center;
    }
}

@media only screen and (min-width:425px) and (max-width: 625px) {
    .primer-contenedor {
        flex-wrap: wrap;
        justify-content: center;
    }


}

@media only screen and (max-width:768px){

    .contenido-segundaSeccion{
        flex-direction: column;
    }
    .imagenes-contenido--segundaSeccion{
        width: 90vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .imagenes-contenido--segundaSeccion img{
        width: 40vw;
    }
    .lineaVertical{
        display: none;
    }
    .respuestas-contenido--segundaSeccion{
        width: 90vw;
    }

    .respuesta{
        width:90vw;
    }

    .respuesta a{
        font-size: 4.5vw;
    }
    .perfil img{
        height: 20%;
    }
    .tercera-seccion{
        text-align: center;
    }

    .card{
        width: 40vw !important;
    }

    .carousel{
        padding-bottom: 3vh;
    }

    .card:not(.focus){
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        text-align: left;
        padding-left: 10px;
    }

    .content-testi{
        flex-wrap: wrap;
        justify-content:space-evenly;
        gap: 5vw;
    }

    .perfil{
        width: 30vw;
        height: max-content;
    }

    .elementos-superiores--cuartaSeccion-video .video video{
        height: 37vh;
    }

    .imagenes-proyectos img{
        width: 17vw;
        height: 18vh;
    }

    .vermas{
        width: 17vw;
        height: 18vh;
    }


}